<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item">
            <div class="dropdown">
              <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" type="a" data-bs-toggle="dropdown" aria-expanded="false" id="all-products-link">
                All Products
              </a>
              <ul class="dropdown-menu">
                <li><a href="" class="dropdown-item">By Price</a></li>
                <li><a href="" class="dropdown-item ">By Rating</a></li>
                <li><a href="" class="dropdown-item ">By Category</a></li>
                <li><a href="{% url 'products' %}" class="dropdown-item">All Products</a></li>
              </ul>
        </li>

        <li class="nav-item">
            <div class="dropdown">
              <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" type="a" data-bs-toggle="dropdown" aria-expanded="false" id="clothing-link">
                Clothing
              </a>
              <ul class="dropdown-menu">
                <!-- Search terms seperated by comma -->
                <li><a href="{% url 'products' %}?category=activewear,essentials" class="dropdown-item">Activewear &amp; Essentials</a></li>
                <li><a href="{% url 'products' %}?category=jeans" class="dropdown-item">Jeans</a></li>
                <li><a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a></li>
                <li><a href="{% url 'products' %}?category=activewear,essentials,jeans,shirts" class="dropdown-item">All Clothing</a></li>
              </ul>
        </li>
        
        <li class="nav-item">
            <div class="dropdown">
              <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" type="a" data-bs-toggle="dropdown" aria-expanded="false" id="homeware-link">
                Homeware
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'products' %}?category=bed_bath" class="dropdown-item">Bed &amp; Bath</a></li>
                <li><a href="{% url 'products' %}?category=kitchen_dining" class="dropdown-item">Kitchen &amp; Dining</a></li>
                <li><a href="{% url 'products' %}?category=kitchen_dining,bed_bath" class="dropdown-item">All Homeware</a></li>
              </ul>
        </li>

        <li class="nav-item">
            <div class="dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" type="a" data-bs-toggle="dropdown" aria-expanded="false" id="specials-link">
                    Special Offers
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a></li>
                    <li><a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a></li>
                    <li><a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a></li>
                    <li><a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a></li>
                </ul>
        </li>

    </ul>
</div>